<%- include('partials/header.ejs') %>

  <body>

    <%- include('partials/navbar.ejs') %>

      <main>
        <section class="top-section dark-background">
          <div class="align-items-center d-flex flex-column h-100 justify-content-center">
            <h1 class="text-uppercase display-1 fw-bold">Dashboard</h1>
            <h2 class="text-uppercase">DriveTest Booking Kiosk</h2>
          </div>
        </section>
        <section class="bottom-section mt-5">
          <div class="px-5">
            <h4 class="display-4">
              You can book G2/G drive test form this Kiosk
            </h4>
            <h6>
              You can book G2/G drive test form this Kiosk
            </h6>
            <p class="footer-hero-text">
              Posted by <b>DriveTest Center</b>
            </p>
          </div>
        </section>
      </main>

  </body>

  <%- include('partials/footer.ejs') %>