<%- include('partials/header.ejs') %>

  <body>

    <%- include('partials/navbar.ejs') %>

      <main>
        <div class="container mt-5">
          <div class="row">

            <div class="col-md-6 col-sm-12">
              <form action="/login" method="post" class="border border-2 p-4 rounded-4 shadow">
                <div>
                  <h2 class="text-center">Login</h2>
                </div>
                <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
              </form>
            </div>
            <div class="col-md-6 col-sm-12">

              <form action="/signup" method="post" class="border border-2 p-4 rounded-4 shadow">
                <div>
                  <h2 class="text-center">Signup</h2>
                </div>
                <% if (locals.error) { %>
                  <div class="mb-3">
                    <div class="alert alert-danger" role="alert">
                      <%= error %>
                    </div>
                  </div>
                  <% } %>
                    <div class="mb-3">
                      <label for="username" class="form-label">Username</label>
                      <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="mb-3">
                      <label for="confirm_password" class="form-label">Confirm Password</label>
                      <input type="password" class="form-control" id="confirm_password" name="confirm_password">
                    </div>
                    <div class="mb-3">
                      <label for="user_type" class="form-label">User Type</label>
                      <select name="user_type" id="user_type" class="form-control">
                        <option value="Driver">Driver</option>
                        <option value="Examiner">Examiner</option>
                        <option value="Admin">Admin</option>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Signup</button>
              </form>
            </div>
          </div>
        </div>
      </main>

  </body>

  <%- include('partials/footer.ejs') %>